bandit==1.6.2
ccsm==0.9.13.1
compizconfig-python==0.9.13.1
configobj==5.0.6
configparser==4.0.2
coverage==5.0.3
entrypoints==0.3
enum34==1.1.6
flake8==3.7.9
funcsigs==1.0.2
functools32==3.2.3.post2
gitdb2==2.0.6
GitPython==2.1.14
mccabe==0.6.1
mock==2.0.0
pbr==5.4.4
psutil==5.4.2
pycairo==1.16.2
pycodestyle==2.5.0
pycrypto==2.6.1
pyflakes==2.1.1
pygobject==3.26.1
pyparted==3.11.1
python-apt==1.6.4
python-xapp==1.6.0
python-xlib==0.20
pyxdg==0.25
PyYAML==5.4
setproctitle==1.1.10
six==1.14.0
smmap2==2.0.5
stevedore==1.31.0
typing==3.7.4.1
vboxapi==1.0
